rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    // 公開データ
    match /public/{doc} {
      allow read: if true;
      allow write: if false;
    }
  }
}
